.bgimg-switcher {
  width: 100vw;
  height: 100vh;
  background-position:center center;
  background-size: cover;
  // display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;

  .Header {
    height: 15%;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--right {
      width: 20%;
      padding-left: 4rem;
    }
    &--left {
      width: 20%;
      margin-right: 3rem;
      padding-right: 4rem;
      display: flex;
      justify-content: space-between;

      .Registration {
        font-size: 1.4rem;
        border: 1px solid black;
        padding: 1rem;
        text-decoration: none;
      }
      .Login {
        font-size: 1.2rem;
        border: 1px solid black;
        padding: 1rem;
        text-decoration: none;
      }
    }
  }
  
  .Main {
    height: 65%;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

    .title {
      color: black;
      font-size: 5rem;
      font-weight: bold;
      text-align:center;
      text-shadow: 1px 1px 1px #000;
      letter-spacing: 1rem;
    }

    h2 {
      display: inline-flex;
    }
  }
  
  .Footer {
    height: 20%;

    ul {
      height: 100%;
      display: flex;
      align-items: center;
      // justify-content: space-around;

      li {
        border-left: 1px solid black;
        width: 20%;
        text-align: center;
        font-weight: bold;
        font-size: 1.5rem;
        
      }
    }
  }

  // #slide ul {
  //   position: relative;

  //   #slide li {
  //     position: absolute;
  //     width: 100%;

  //     img {
  //       opacity: 0.5;
  //     }
  //   }
  // }
  
}
