.ShowBox
  .ShowBox--image
    = render "modules/header"

    .ProfileArea
      .ProfileArea--top
        .ProfileArea--top__image
          - if @user.profile_image_id?
            = image_tag @user.profile_image_id.url
          - else
            = image_tag asset_path('no-image.png')
          = @user.username



  