.Header {
  height: 15%;
  border-bottom: 1px solid white;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--right {
    width: 20%;
    padding-left: 4rem;
    

    .twitter {
      color: white;
      background-color: white;
    }
    .google {
      margin-left: 2rem;
    }
  }
  &--left {
    width: 20%;
    margin-right: 3rem;
    padding-right: 4rem;
    display: flex;
    justify-content: space-between;

    .Logout {
      color: white;
      font-size: 1.2rem;
      border: 1px solid white;
      padding: 1rem;
      text-decoration: none;
    }
    .Mypage {
      color: white;
      font-size: 1.2rem;
      border: 1px solid white;
      padding: 1rem;
      text-decoration: none;
    }
    
    .Registration {
      color: white;
      font-size: 1.4rem;
      border: 1px solid white;
      padding: 1rem;
      text-decoration: none;
    }
    .Login {
      color: white;
      font-size: 1.2rem;
      border: 1px solid white;
      padding: 1rem;
      text-decoration: none;
    }
  }
}