@import "reset";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "modules/header";
@import "modules/footer";
@import "home/index";
@import "registrations/new";
@import "sessions/new";
@import "users/show";
@import "users/edit";

* {
  box-sizing: border-box;
}

.MainWrapper {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  background-image: image-url("IMG_1300.JPG");
  background-size: cover;
}
